h6 building design
.home-score-col.third
  label stories above ground
  select.fancy-select
    option(selected=selected) Yes
    option No
.home-score-col.third
  label heated or cooled floor area
  select.fancy-select
    option(selected=selected) Yes
    option No
.home-score-col.third.is-last
  label type of foundation
  select.fancy-select
    option(selected=selected) Yes
    option No
.cl

.home-score-col.third.is-row
  label foundation or floor insulation
  select.fancy-select
    option(selected=selected) Yes
    option No

.home-score-col.third.is-row
  label ceiling insulation level
  select.fancy-select
    option(selected=selected) Yes
    option No

.home-score-col.third.is-row.is-last
  label roof insluation level
  select.fancy-select
    option(selected=selected) Yes
    option No

.cl

.home-score-col.third.is-row
  label attic or ceiling type
  select.fancy-select
    option(selected=selected) Yes
    option No

.home-score-col.third.is-row
  label wall insulation
  select.fancy-select
    option(selected=selected) Yes
    option No

.home-score-col.third.is-row.is-last
  label weather stripping/caulking
  select.fancy-select
    option(selected=selected) Yes
    option No

.dotted-divider
.btn.jump-section.btn-primary next: get my energy score!
.cl