h1.score-results.roboto-thin
  | You could save&nbsp;
  span.blue $#{HESResults.existingHome.Total['$t'] - HESResults.withUpgrades.Total['$t']}
  |  a year.

svg.energy-graph(viewBox="0 0 600 300")
  - max = 200
  g
    - for(i in energyBreakdown.original)
      - p = energyBreakdown.original[i]
      circle(cx=max, cy=146, r=p.percent * max, class=p.key)
  g
    - for(i in energyBreakdown.upgraded)
      - p = energyBreakdown.upgraded[i]
      circle(cx=max*2 + 50, cy=146, r=p.percent * max, class=p.key)

table.price-breakdown
  thead
    tr
      th category
      th existing home
      th with upgrades
      th savings
  tbody
    tr
      td
        .small-block.fill-red
        | heating
      td $#{HESResults.existingHome.Heating['$t']}
      td $#{HESResults.withUpgrades.Heating['$t']}
      td.red $#{HESResults.existingHome.Heating['$t'] - HESResults.withUpgrades.Heating['$t']}
    tr
      td
        .small-block.fill-blue
        | cooling
      td $#{HESResults.existingHome.Cooling['$t']}
      td $#{HESResults.withUpgrades.Cooling['$t']}
      td.blue $#{HESResults.existingHome.Cooling['$t'] - HESResults.withUpgrades.Cooling['$t']}
    tr
      td
        .small-block.fill-dark-slate
        | hot water
      td $#{HESResults.existingHome.HotWater['$t']}
      td $#{HESResults.withUpgrades.HotWater['$t']}
      td.dark-slate $#{HESResults.existingHome.HotWater['$t'] - HESResults.withUpgrades.HotWater['$t']}
    tr
      td
        .small-block.fill-pink
        | small appliances
      td $#{HESResults.existingHome.SmallAppliances['$t']}
      td $#{HESResults.withUpgrades.SmallAppliances['$t']}
      td.pink $#{HESResults.existingHome.SmallAppliances['$t'] - HESResults.withUpgrades.SmallAppliances['$t']}
    tr
      td
        .small-block.fill-orange
        | large appliances
      td $#{HESResults.existingHome.LargeAppliances['$t']}
      td $#{HESResults.withUpgrades.LargeAppliances['$t']}
      td.orange $#{HESResults.existingHome.LargeAppliances['$t'] - HESResults.withUpgrades.LargeAppliances['$t']}
    tr
      td
        .small-block.fill-green
        | lighting
      td $#{HESResults.existingHome.Lighting['$t']}
      td $#{HESResults.withUpgrades.Lighting['$t']}
      td.green $#{HESResults.existingHome.Lighting['$t'] - HESResults.withUpgrades.Lighting['$t']}


.detail-footer
  p.small Important Note: These are initial estimates only, and results may vary. If the owner has not already done so, we strongly recommend that they retain a professional energy auditor to develop a detailed work scope and budget for improving the home. We also recommend the Home Performance with ENERGY STAR program when considering home improvements.