
.home-detail-headline
  .close
  .contain.small-contain
    .detail-hero
      - if (details)
        h1.address.roboto-thin= details.address
  - if (details)
    .home-location
    .home-details
      .small-contain
        //- pre= JSON.stringify(details, null, 4)
      .small-contain.contain.home-score-tool
        h2 score your new investment
        .home-score-segment
          h6 home basics
          .home-score-col.fourth
            label address
            input.fancy-input(value="12 Bayview Ave")

          .home-score-col.fourth
            label city
            input.fancy-input(value="Providence")

          .home-score-col.fourth
            label state
            input.fancy-input(value="RI")

          .home-score-col.fourth
            label year built
            input.fancy-input(value="1961")

        .dotted-divider

        a.btn.jump-section.btn-primary(href="#") next: tell us about your energy prices

        .home-score-segment
          h6 energy prices
          .home-score-col.fourth
            label electricity
            input.fancy-input(value="0.145")
            .helper-label $kw/hour

          .home-score-col.fourth
            label piped natural gas
            input.fancy-input(value="1.36")
            .helper-label $kw/hour

          .home-score-col.fourth
            label gas/propane
            input.fancy-input(value="23.24")
            .helper-label $kw/hour

          .home-score-col.fourth
            label oil
            input.fancy-input(value="12.52")
            .helper-label $kw/hour

        .dotted-divider

        .home-score-segment
          h6 building design
          .home-score-col.third
            label stories above ground
            select.fancy-select
              option(selected=selected) Yes
              option No
          .home-score-col.third
            label heated or cooled floor area
            select.fancy-select
              option(selected=selected) Yes
              option No
          .home-score-col.third.is-last
            label type of foundation
            select.fancy-select
              option(selected=selected) Yes
              option No
          .cl

          .home-score-col.third.is-row
            label foundation or floor insulation
            select.fancy-select
              option(selected=selected) Yes
              option No

          .home-score-col.third.is-row
            label ceiling insulation level
            select.fancy-select
              option(selected=selected) Yes
              option No

          .home-score-col.third.is-row.is-last
            label roof insluation level
            select.fancy-select
              option(selected=selected) Yes
              option No

          .cl

          .home-score-col.third.is-row
            label attic or ceiling type
            select.fancy-select
              option(selected=selected) Yes
              option No

          .home-score-col.third.is-row
            label wall insulation
            select.fancy-select
              option(selected=selected) Yes
              option No

          .home-score-col.third.is-row.is-last
            label weather stripping/caulking
            select.fancy-select
              option(selected=selected) Yes
              option No

        .dotted-divider
        .cl

        // Start the results here. Move in to template -------------------------------------------------
        // -----------------------------------------------------------------------------------------
        h1.score-results.roboto-thin
          | You could save&nbsp;
          span.blue $1,846
          |  a year.

        table.price-breakdown
          thead
            tr
              th category
              th existing home
              th with upgrades
              th savings
          tbody
            tr
              td
                .small-block.fill-red
                | heating
              td $3,020
              td $3,020
              td.red $784
            tr
              td
                .small-block.fill-blue
                | cooling
              td $3,020
              td $3,020
              td.blue $1,245
            tr
              td
                .small-block.fill-dark-slate
                | hot water
              td $3,020
              td $3,020
              td.dark-slate $135
            tr
              td
                .small-block.fill-pink
                | small appliances
              td $3,020
              td $3,020
              td.pink $124
            tr
              td
                .small-block.fill-orange
                | large appliances
              td $3,020
              td $3,020
              td.orange $422
            tr
              td
                .small-block.fill-green
                | lighting
              td $3,020
              td $3,020
              td.green $101


      .detail-footer
        p.small Important Note: These are initial estimates only, and results may vary. If the owner has not already done so, we strongly recommend that they retain a professional energy auditor to develop a detailed work scope and budget for improving the home. We also recommend the Home Performance with ENERGY STAR program when considering home improvements.