.inner-tile-wrap
    .home-photo-wrap
      .home-square-ft
        .square-ft-icon
          .outer-box
            .inner-box
        h4.square-ft-text #{homeSqFt} sq ft.
      .overlay
      - if (preventLazyLoad)
        .home-photo(style="background-image:url(#{homeImage})")
      - else
        .home-photo.lazy(data-original=homeImage)
    .monthly-summary
      - if (energyCost)
        != templates.energy_cost(locals)
      - else
        .green-button-drop
          p Drag Green Button data for monthly estimate
          input(type="file")
  .bottom-meta-info
  .home-meta-col
    h4
      span.inline-icon.home-icon
      span.price= homePrice
  .home-meta-col
    h4
      span.inline-icon.bath-icon
      | #{homeBath}
  .home-meta-col
    h4
      span.inline-icon.bed-icon
      | #{homeBed}
